{% extends 'base.html' %}
{% block content %}

    <div class="signup_login">
        <div class="signup_form">
            <h2>Inscrivez-vous</h2>
            <form action="{% url 'signup' %}">
                <button type="submit">S'inscrire</button>
            </form>
        </div>

        <div class="login_form">
            <h2>Connectez-vous</h2>
            <p>{{ message }}</p>
            <form action="" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>
{% endblock content %}