<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>LITRevu</title>
        {% load static %}
        <link rel="stylesheet" href="{% static '/styles.css' %}">
    </head>
    <body>

        <header>
            <h1>LITRevu</h1>
            {% if user.is_authenticated %}
                <nav>
                <a href="{% url 'feed' %}">Flux</a>
                <a href="{% url 'posts' %}">Posts</a>
                <a href="{% url 'follow' %}">Abonnements</a>
                <a href="{% url 'logout' %}">Sé déconnecter <br>(Connecté en tant que {{ request.user }})</a>
                </nav>
            {% endif %}
        </header>

        {% block content %}
        {% endblock content %}

    </body>
</html>