

{% if in_review == True %}
    <p>Ticket - {{ ticket.author }}</p>
{% else %}
    {% if ticket.author == request.user %}
        <p>Vous avez demandé une critique</p>
    {% else %}
        <p>{{ ticket.author }} a demandé une critique</p>
    {% endif %}
{% endif %}

<p class="date">{{ ticket.time_created }}</p>
<p class="title">{{ ticket.title }}</p>
<p>{{ ticket.description }}</p>
{% if ticket.image %}
    <img src="{{ ticket.image.url }}" alt="{{ ticket.title }} image" title="{{ ticket.title }} image">
{% endif %}