{% extends 'base.html' %}

{% block content %}
    <h2>Flux</h2>

    <div class="feed_feature">
        <form action="{% url 'add-ticket' %}">
            <button type="submit">Demander une critique</button>
        </form>


        <form action="{% url 'add-review-and-ticket' %}">
            <button type="submit">Créer une critique</button>
        </form>
    </div>


        {% for element in page_obj %}

            {% if element.type == "TICKET" %}
                <div class="post">
                    {% include 'review_app/partials/ticket_snippet.html'  with ticket=element in_review=False %}

                    {% if element.closed == False %}
                        <div class="post_feature">
                            <form action="{% url 'add-review-from-ticket' element.id %}">
                                <button type="submit">Créer une critique</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% elif element.type == "REVIEW" %}
                <div class="post">
                {% include 'review_app/partials/review_snippet.html'  with review=element %}
                    <div class="ticket_in_review">
                        {% include 'review_app/partials/ticket_snippet.html'  with ticket=element.ticket in_review=True %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}


    {% include 'review_app/partials/page_navigator.html' %}

{% endblock content %}