{% extends 'base.html' %}

{% block content %}
<h2>Feed</h2>

<form action="{% url 'add-ticket' %}">
    <button type="submit">Demander une critique</button>
</form>

<form action="{% url 'add-review-and-ticket' %}">
    <button type="submit">Créer une critique</button>
</form>



        {% for element in page_obj %}
        <br>
            {% if element.type == "TICKET" %}

                {% include 'review_app/partials/ticket_snippet.html'  with ticket=element in_review=False %}

                {% if element.closed == False %}
                    <form action="{% url 'add-review-from-ticket' element.id %}">
                        <button type="submit">Créer une ciritique</button>
                    </form>
                {% endif %}

            {% elif element.type == "REVIEW" %}

                {% include 'review_app/partials/review_snippet.html'  with review=element %}

                {% include 'review_app/partials/ticket_snippet.html'  with ticket=element.ticket in_review=True %}

            {% endif %}
        {% endfor %}

    <br><br>
    {% include 'review_app/partials/page_navigator.html' %}

{% endblock content %}