{% extends 'base.html' %}

{% block content %}
    <h2>Suivre d'autres utilisateurs</h2>

    <form action="{% url 'follow' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <input class="username" type="text" name="username" placeholder="Nom d'utilisateur">
            <button type="submit">Envoyer</button>
        </div>
    </form>
    <p>{{ context.message }}</p>

    <h2>Abonnements</h2>
    {% if context.follows %}
        {% for follow in context.follows %}
            <form action="{% url 'unfollow' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ follow.username }}">
                <div class="row">
                    <p class="username">{{ follow.username }}</p>
                    <button type="submit">Se désabonner</button>
                </div>
            </form>
        {% endfor %}
    {% else %}
        <p>Vous n'êtes abonnés à personne.</p>
    {% endif %}

    <h2>Abonnés</h2>
    {% if context.followers %}
        {% for follower in context.followers %}
            <p class="username">{{ follower.username }}</p>
        {% endfor %}
    {% else %}
        <p>Vous n'avez pas encore d'abonnés.</p>
    {% endif %}

{% endblock content %}