{% extends 'base.html' %}

{% block content %}

    <h2>Vos posts</h2>

        {% for element in context %}
        <br>
            {% if element.type == "TICKET" %}
                <p>Vous avez publié un ticket</p>
                <p>{{ element.time_created }}</p>
                <p>{{ element.title }}</p>
                <p>{{ element.description }}</p>
                {% if element.image %}
                    <img src="{{ element.image.url }}" >
                {% endif %}

                <form action="{% url 'edit-ticket' element.id %}">
                    <button type="submit">Modifier</button>
                </form>

                <form action="{% url 'delete-ticket' element.id %}">
                    <button type="submit">Supprimer</button>
                </form>


            {% elif element.type == "REVIEW" %}
                <p>Vous avez publié une critique</p>
                <p>{{ element.time_created }}</p>
                <p>{{ element.headline }} - {{ element.rating }} / 5</p>
                <p>{{ element.body }}</p>

                <p>Ticket - {{ element.ticket.author }}</p>
                <p>{{ element.ticket.time_created }}</p>
                <p>{{ element.ticket.description }}</p>
                {% if element.ticket.image %}
                    <img src="{{ element.ticket.image.url }}" >
                {% endif %}

                <form action="{% url 'edit-review' element.id %}">
                    <button type="submit">Modifier</button>
                </form>

                <form action="{% url 'delete-review' element.id %}">
                    <button type="submit">Supprimer</button>
                </form>
            {% endif %}
        {% endfor %}

{% endblock content %}