{% extends 'base.html' %}

{% block content %}

    <h2>Vos posts</h2>

        {% for element in context %}
        <br>
            {% if element.type == "TICKET" %}
                <p>Vous avez publié un ticket</p>
                {% include 'review_app/partials/ticket_snippet.html'  with ticket=element %}

                <form action="{% url 'edit-ticket' element.id %}">
                    <button type="submit">Modifier</button>
                </form>

                <form action="{% url 'delete-ticket' element.id %}">
                    <button type="submit">Supprimer</button>
                </form>


            {% elif element.type == "REVIEW" %}
                <p>Vous avez publié une critique</p>
                {% include 'review_app/partials/review_snippet.html'  with review=element.ticket %}

                <p>Ticket - {{ element.ticket.author }}</p>
                {% include 'review_app/partials/ticket_snippet.html'  with ticket=element.ticket %}

                <form action="{% url 'edit-review' element.id %}">
                    <button type="submit">Modifier</button>
                </form>

                <form action="{% url 'delete-review' element.id %}">
                    <button type="submit">Supprimer</button>
                </form>
            {% endif %}
        {% endfor %}

{% endblock content %}