@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Arimo:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Quintessential&display=swap');


body {
    font-family: "Lato";
    background-color: #F7E8D2;
    margin: auto;
    padding: 40px;
    max-width : 1440px;
}

header {
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;
    text-align: center;
    
}

nav a {
    margin: 10px;
    font-size: 14px;
}

h1 {
    margin: auto;
    font-size: 30px;
    font-weight: 800;
}

h2 {
    margin: 30px 20px 20px 20px;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}

p {
    font-size: 16px;
    margin: 5px;
    font-weight: 500;
}

.post {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: white;
}

.ticket_in_review {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

img {
    margin: 10px;
}

.date {
    font-size: 12px;
    font-weight: 300;
    display: flex;
    justify-self: end;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid black;
    background-color: #FFFBF2;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
}

button:hover{
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.post_feature {
    display: flex;
    justify-content: flex-end;
}


.feed_feature {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    gap: 10px;
}


.feed_feature button {
    padding: 10px auto;
    margin: 0;
    font-size: 16px;
    width: 100%;
}

.feed_feature form {
    width: 100%;
}

.row input{
    font-size: 16px;
}

.row {
    display: flex;
    justify-content: space-between;  
}

.username {
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 16x;
    font-weight: 500;
    flex: 1;
}




.post_form p {
    display: flex;
    flex-direction: column;
    margin: 10px; 
}

.post_form label {
    margin: 10px 0;
    font-size: 18px;
}

.post_form input, .post_form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.image_field {
    display: flex;
    flex-direction: column;
}

.image_current span{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.image_current a{
    margin: 0 10px;
}


.image_current label{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.image_current input{
    margin: 0 10px;
}

.image_upload {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
}

#id_image {
    margin: 10px !important;
}

#id_image {
    border: none;
    border-radius: 0;
    margin: 10px 0;
    padding: 0;
    background-color: #F7E8D2;
}


.action_button {
    display: flex;
    justify-self: flex-end;
}

#id_rating {
    display: flex;
}

#id_rating div {
    margin: 0 30px;
}

#id_rating input {
    margin: 0 10px;
}


.signup_login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.signup_form, .login_form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_form input{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.login_form button{
    align-self: flex-end;
    margin: 20px 10px;
}

.signup_form input{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}


.signup_form ul{
    align-self: flex-start;
}